
<div class="container">
  <h1>Numero de casos</h1>
  <div class="row mt-5">
  <div class="col-md-8">
            <div>
                <div>
                  <div style="display: block">
                    <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      [colors]="barChartColors"
                      [chartType]="barChartType">
                      
                    </canvas>
                  </div>
                  <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
                </div>
              </div>
</div>

<div class="col-md-4">
<button type="button" class="btn btn-outline-primary" (click)="casosPositivosEF()">NUMERO DE CASOS POSITIVOS POR ENTIDAD FEDERATIVA</button>
  <button type="button" class="btn btn-outline-secondary" (click)="casosPositivosMEF()">NUMERO DE CASOS POSITIVOS MUJERES POR ENTIDAD FEDERATIVA</button>
  <button type="button" class="btn btn-outline-success" (click)="casosPositivosHEF()"> NUMERO DE CASOS POSITIVOS HOMBRES POR ENTIDAD FEDERATIVA</button>
  <button type="button" class="btn btn-outline-danger" (click)="defuncionesEF()">NUMERO DE DEFUNCIONES A CAUSA DE COVID POR ENTIDAD FEDERATIVA</button>
  <button type="button" class="btn btn-outline-warning" (click)="defuncionesMEF()">NUMERO DE DEFUNCIONES MUJERES A CAUSA DE COVID POR ENTIDAD FEDERATIVA</button>
  <button type="button" class="btn btn-outline-info" (click)="defuncionesHEF()">NUMERO DE DEFUNCIONES HOMBRES A CAUSA DE COVID POR ENTIDAD FEDERATIVA</button>


</div>
</div>
</div>



