.body-info{
    background-image: linear-gradient(to right top, #000000, #2f0e16, #570e1d, #80091b, #a70f0f);
}

.card-columns{
    width: 80%;
    margin-top: 2rem;
    margin-left: 9rem;
    justify-content: center;
    align-content: center;
    text-align: justify;
}
.a1{
    margin-top: 14.5rem;
    text-align: left;
}

.a2{
    margin-top: 8.4rem;
    text-align: left;
}

.a3{
    text-align: left;
}

.card-columns h3{
    text-align: center;
    color: blue;
}

.w-100{
    max-height: 70vh;
}

.sesion{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.sesion a{
    color:white;
    background: rgb(85, 83, 83);
}

.btn {
    margin-top: 1rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: 12px 13px 21px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 13px 21px -8px rgba(0,0,0,0.75);
    box-shadow: 12px 13px 21px -8px rgba(0,0,0,0.75);
    text-transform: uppercase;
    border-radius: 1rem;
    color: #2b2b2b;
}
