<%- include('partials/header') %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <canvas id='myChart'></canvas>
            <h1>HOLA QUE TAL</h1>
        </div>
        <div class="col-md-5">
            
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <canvas id='myChart2'></canvas>
            <h1>HOLA QUE TAL2</h1>
        </div>
       
            
        
    </div>
</div>

<pre><%=data2[0].ENTIDAD%></pre>



<script src="graficas.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<%- include('partials/footer') %>






